@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;300;400;500&family=Pathway+Gothic+One&family=Arapey&display=swap&family=Zen+Kaku+Gothic+Antique:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

.wrap::after {
  content: '';
  display: block;
  clear: both; }

.wrap > article:last-child {
  margin-right: 0 !important; }

.hidden {
  position: absolute;
  top: -9999px;
  font-size: 0;
  opacity: 0; }

body {
  font-family: "Gothic A1";
  width: 100%;
  overflow-x: hidden;
  background: #f9f9f9; }

#header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #000; }

#visual {
  width: 100%;
  height: calc(100vh - 81px);
  overflow: hidden;
  z-index: 1;
  position: relative;
  background: #f6f6f6; }
  #visual .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 30px 0;
    overflow: hidden;
    position: relative; }
    #visual .inner.wrapbox {
      height: 610px; }
    #visual .inner > h1, #visual .inner > h2 {
      display: inline-block;
      font: 500 64px/1.1 "Gothic A1";
      color: #111;
      position: relative;
      overflow: hidden; }
      #visual .inner > h1 span, #visual .inner > h2 span {
        opacity: 0; }
    #visual .inner > .wrap {
      width: 100%;
      position: absolute;
      top: 30px;
      left: 0;
      display: none; }
      #visual .inner > .wrap article {
        float: left;
        width: 380px;
        margin-right: 20px;
        border: 1px solid #333;
        background: #f9f9f9; }
        #visual .inner > .wrap article h1 {
          font: 600 16px/1 "Gothic A1";
          color: #666;
          padding: 10px 20px;
          border-bottom: 1px solid #333; }
        #visual .inner > .wrap article h2 {
          font: 500 45px/1 "Gothic A1";
          color: #333;
          padding: 10px 20px 50px;
          border-bottom: 1px solid #333; }
        #visual .inner > .wrap article .wrap {
          padding: 10px 20px;
          border-bottom: 1px solid #333; }
          #visual .inner > .wrap article .wrap p {
            float: left;
            width: 65%;
            font: 500 10px/1.1 "Gothic A1";
            color: #555; }
          #visual .inner > .wrap article .wrap ul {
            float: right;
            width: 30%; }
            #visual .inner > .wrap article .wrap ul li {
              font: 600 14px/1.3 "Gothic A1";
              color: #222; }
              #visual .inner > .wrap article .wrap ul li::before {
                content: '';
                display: inline-block;
                width: 3px;
                height: 3px;
                background: #222;
                border-radius: 50%;
                margin-bottom: 3px;
                margin-right: 2px; }
        #visual .inner > .wrap article .pic {
          height: 280px;
          background: #bbb; }
          #visual .inner > .wrap article .pic::after {
            content: '';
            display: block;
            clear: both; }
          #visual .inner > .wrap article .pic a {
            display: block;
            float: left;
            width: 65%;
            height: 100%;
            object-fit: cover;
            overflow: hidden; }
            #visual .inner > .wrap article .pic a img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              filter: grayscale(60%);
              transition: .4s; }
              #visual .inner > .wrap article .pic a img:hover {
                filter: grayscale(0);
                transform: scale(1.15); }
          #visual .inner > .wrap article .pic p {
            float: right;
            width: 35%;
            height: 50%;
            background: #ddd;
            font: 600 40px/1 "Pathway Gothic One";
            color: #111;
            text-align: center;
            border-left: 1px solid #333;
            padding: 45px 0; }
            #visual .inner > .wrap article .pic p:nth-of-type(2) {
              border-top: 1px solid #333;
              background: #aaa; }
            #visual .inner > .wrap article .pic p span {
              display: block;
              font: 600 10px/1 "Gothic A1";
              color: #111; }
  #visual .filter {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333; }
    #visual .filter .inner {
      width: 1180px;
      margin: 0 auto;
      padding: 14px 0; }
      #visual .filter .inner ul::after {
        content: '';
        display: block;
        clear: both; }
      #visual .filter .inner ul li {
        float: left;
        font-size: 0; }
        #visual .filter .inner ul li:nth-of-type(1) {
          font: 600 13px/1 "Gothic A1";
          color: #444;
          margin-right: 50px; }
        #visual .filter .inner ul li:nth-of-type(n+2) a {
          font-weight: 500;
          color: #222; }
          #visual .filter .inner ul li:nth-of-type(n+2) a.on {
            font-weight: 600; }
          #visual .filter .inner ul li:nth-of-type(n+2) a::after {
            border-top-color: #222; }
        #visual .filter .inner ul li a {
          font: 600 13px/1 "Gothic A1";
          color: #888;
          margin-left: 30px; }
          #visual .filter .inner ul li a::after {
            content: '';
            display: inline-block;
            border-top: 5px solid #555;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            margin-left: 5px;
            margin-bottom: 2px; }
  #visual .detail {
    display: none;
    width: 100%;
    height: 100%;
    background: #fefefe;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: 1s;
    z-index: -1; }
    #visual .detail.on {
      z-index: 2; }
      #visual .detail.on .inner {
        opacity: 1; }
        #visual .detail.on .inner .pic {
          width: 750px;
          height: 100%;
          left: 150px;
          bottom: 0; }
        #visual .detail.on .inner .con h1::before, #visual .detail.on .inner .con h2::after {
          right: 0;
          opacity: 1; }
        #visual .detail.on .inner .con .wrap {
          transform: translateY(0);
          opacity: 1; }
    #visual .detail .inner {
      width: 100%;
      height: 100%;
      padding-left: 900px;
      opacity: 0;
      transition: 1s; }
      #visual .detail .inner .pic {
        width: 0;
        height: 0;
        position: absolute;
        left: 30%;
        bottom: 100px;
        transition: 1.4s;
        background: #000; }
        #visual .detail .inner .pic img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      #visual .detail .inner .con {
        width: 100%;
        height: 100%;
        padding: 100px 50px; }
        #visual .detail .inner .con h1 {
          font: 500 70px/1 "Gothic A1";
          color: #111;
          margin-bottom: 100px; }
          #visual .detail .inner .con h1::before {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: #555;
            margin-bottom: 20px;
            position: relative;
            right: -50%;
            transition: .6s .6s;
            opacity: 0; }
        #visual .detail .inner .con h2 {
          font: 600 14px/3 "Gothic A1";
          color: #111;
          margin-bottom: 50px;
          position: relative; }
          #visual .detail .inner .con h2::before {
            content: "women";
            display: block;
            font: 500 12px/3 "Gothic A1";
            position: absolute;
            top: -40px;
            left: 0; }
          #visual .detail .inner .con h2::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: #000;
            position: absolute;
            top: 0;
            right: -50%;
            transition: .8s .6s;
            opacity: 0; }
        #visual .detail .inner .con .wrap {
          margin-bottom: 190px;
          transform: translateY(200px);
          transition: .6s .6s;
          opacity: 0; }
          #visual .detail .inner .con .wrap p {
            float: left;
            width: 60%;
            font: 400 14px/1.6 "Gothic A1";
            color: #555; }
          #visual .detail .inner .con .wrap .thumb {
            float: right;
            width: 30%;
            height: 170px; }
            #visual .detail .inner .con .wrap .thumb img {
              width: 100%;
              height: 100%;
              object-fit: contain; }
        #visual .detail .inner .con h3 {
          display: inline-block;
          font: 600 12px/1 "Gothic A1";
          color: #333;
          padding: 10px;
          border-bottom: 1px solid #333; }
      #visual .detail .inner .close {
        position: absolute;
        top: 30px;
        left: 20px;
        width: 25px;
        height: 2px;
        background: #000; }
        #visual .detail .inner .close::before {
          content: '';
          display: block;
          width: 15px;
          height: 2px;
          background: inherit;
          transform: rotate(-45deg);
          transform-origin: left center; }
        #visual .detail .inner .close::after {
          content: '';
          display: block;
          width: 15px;
          height: 2px;
          background: inherit;
          transform: rotate(45deg);
          transform-origin: left center;
          margin-top: -2px; }
      #visual .detail .inner > p {
        position: absolute;
        left: 25px;
        bottom: 20px;
        font: 500 16px/1 "Gothic A1";
        color: #111;
        transform-origin: left center;
        transform: rotate(-90deg); }

/*# sourceMappingURL=style.css.map */
