@charset 'utf-8';
@import 'reset';

$tablet : 1179px;
$tablet2 : 768px;
$mobile : 539px;

#header{
    width: 100%;
    border-bottom: 1px solid #555;

    .inner{
        width: 1180px;
        height: 70px;
        margin: 0 auto;
        border: 1px solid red;
    }
}

#visual{
    width: 100%;
    height: calc(100vh - 71px);
    position: relative;
    overflow: hidden;

    h1{
        display: inline-block;
        font: lighter 24px/1 'arial';
        color: #111;
        letter-spacing: 40px;
        width: 700px;
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);

        span{
            display: block;
            font-weight: bold;
            font-size: 30px;
            letter-spacing: 50px;
            text-align: right;
            margin-top: 10px;
        }
    }
    .wrap{
        width: 100%;
        height: 100%;
        transition: 1s;

        &.on{
            transform: translateX(-100%);
            opacity: 0;
        }
        .con{
            float: left;
            width: 250px;
            height: 100%;
            padding-top: 300px;
            padding-left: 30px;

            h2{
                font: normal 28px/1.2 'arial';
                color: #111;
                letter-spacing: 5px;
                margin-bottom: 15px;
            }
            p{
                font: 12px/1.8 'arial';
                color: #888;
                margin-bottom: 25px;
            }
            a{
                display: block;
                width: 100%;
                height: 45px;
                border: 1px solid #bbb;
                text-align: center;
                font: bold 11px/45px 'arial';
                color: #111;
            }
        }
        .frame{
            float: right;
            width: calc(100% - 270px);
            height: 100%;
            position: relative;
            overflow: hidden;

            .slider-wrap{
                width: calc(100% / 3 * 8);
                height: 100%;

                &::after{
                    content: '';
                    display: block;
                    clear: both;
                }
                .slider{
                    float: left;
                    width: calc(100% / 8);
                    height: 100%;
                    padding: 300px 20px 0;
                    cursor: pointer;

                    .box{
                        width: 25vw;
                        height: 20vw;
                        box-shadow: -2px 15px 20px rgba(0,0,0,0.2);
                        position: relative;
                        transition: .6s;
                        

                        .bg{
                            width: 100%;
                            height: 100%;
                            filter: grayscale(80%) sepia(20%);
                            background-attachment: fixed;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                        }
                        .model{
                            height: 30vw;
                            position: absolute;
                            bottom: 0;
                            left: 0;

                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                filter: saturate(50%);
                            }
                        }
                        &:hover{
                            transform: scale(1.05);
                        }
                    }
                    &:nth-of-type(even){
                        .box{
                            margin-top: -50px;
                        }
                    }
                }
            }
            .pagebar{
                position: absolute;
                bottom: 70px;
                left: 50px;
                width: 70%;
                height: 2px;
                background: #ddd;

                .bar{
                    display: block;
                    width: calc(100% / 8);
                    height: 100%;
                    background: #555;
                    transition: .4s;
                }
            }
            .prev{
                position: absolute;
                right: 150px;
                bottom: 65px;
                display: block;
                width: 70px;
                height: 20px;

                span{
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #555;
                    margin-top: 10px;

                    &::before{
                        content: '';
                        display: block;
                        width: 10px;
                        height: 2px;
                        background: inherit;
                        transform: rotate(-45deg);
                        transform-origin: left center;
                    }
                    &::after{
                        content: '';
                        display: block;
                        width: 10px;
                        height: 2px;
                        background: inherit;
                        transform: rotate(45deg);
                        transform-origin: left center;
                        margin-top: -2px;
                    }
                }
            }
            .next{
                position: absolute;
                right: 50px;
                bottom: 65px;
                display: block;
                width: 70px;
                height: 20px;

                span{
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #555;
                    margin-top: 10px;
                    position: relative;

                    &::before{
                        content: '';
                        display: block;
                        width: 10px;
                        height: 2px;
                        background: inherit;
                        transform: rotate(-45deg);
                        transform-origin: right center;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                    &::after{
                        content: '';
                        display: block;
                        width: 10px;
                        height: 2px;
                        background: inherit;
                        transform: rotate(45deg);
                        transform-origin: right center;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }
    .detail{
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 50px 0 50px 55vw;
        background: #f7f7f7;

        h2{
            font: normal 18px/1 'arial';
            color: #111;
            letter-spacing: 30px;
            transform-origin: left center;
            transform: rotate(-90deg);
            position: absolute;
            left: 100px;
            bottom: 50px;
        }
        .pic{
            position: absolute;
            top: 300px;
            left: 270px;
            width: 25vw;
            height: 20vw;
            transition: 1s;

            .bg{
                width: 40vw;
                height: 100%;
                filter: grayscale(80%) sepia(20%);
            }
            .model{
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                width: 100%;
                height: 100%;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        .con{
            width: 100%;
            height: 100%;
            position: relative;

            .close{
                display: block;
                font: bold 12px/1 'arial';
                color: #111;
                padding-left: 15px;
                margin-bottom: 50px;
                position: relative;

                &::before{
                    content: '';
                    display: block;
                    width: 8px;
                    height: 2px;
                    background: #111;
                    transform: rotate(-45deg);
                    transform-origin: left center;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    margin-top: -1px;
                }
                &::after{
                    content: '';
                    display: block;
                    width: 8px;
                    height: 2px;
                    background: #111;
                    transform: rotate(45deg);
                    transform-origin: left center;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    margin-top: -1px;
                }
            }
            h3{
                font: bold 30px/1.2 'arial';
                color: #111;
            }
            .prev{
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                width: 70px;
                height: 20px;
    
                span{
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #555;
                    margin-top: 10px;
    
                    &::before{
                        content: '';
                        display: block;
                        width: 10px;
                        height: 2px;
                        background: inherit;
                        transform: rotate(-45deg);
                        transform-origin: left center;
                    }
                    &::after{
                        content: '';
                        display: block;
                        width: 10px;
                        height: 2px;
                        background: inherit;
                        transform: rotate(45deg);
                        transform-origin: left center;
                        margin-top: -2px;
                    }
                }
            }
            .next{
                position: absolute;
                left: 100px;
                bottom: 0;
                display: block;
                width: 70px;
                height: 20px;
    
                span{
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #555;
                    margin-top: 10px;
                    position: relative;
    
                    &::before{
                        content: '';
                        display: block;
                        width: 10px;
                        height: 2px;
                        background: inherit;
                        transform: rotate(-45deg);
                        transform-origin: right center;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                    &::after{
                        content: '';
                        display: block;
                        width: 10px;
                        height: 2px;
                        background: inherit;
                        transform: rotate(45deg);
                        transform-origin: right center;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }
    }
}